.wp-block-create-block-toggle {
	font-size: 1em;
	background: #ffff001a;
	padding: 1em;

	&.dark-theme {
		background: #333;
		color: #fff;

		button {
			background: #555;
			color: #fff;
			border: 1px solid #777;
		}

		p {
			color: #ddd;
		}
	}
}
